<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2014 Cloudera, Inc. All rights reserved.
  -->

<configuration debug="false" scan="true" scanPeriod="30 seconds">

    <property name="MAIN_LOG_FILE" value="${MAIN_LOG_FILE:-${LOG_DIR:-logs}/application.log}"/>
    <property name="FILE_LOG_PATTERN"
              value="[%date{yyyy-MM-dd HH:mm:ss}] %-5level [%thread] - %logger{36}: %msg%n"/>

    <appender name="FILE"
              class="com.cloudera.director.aws.shaded.ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>${MAIN_LOG_FILE}</file>
        <rollingPolicy class="com.cloudera.director.aws.shaded.ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${MAIN_LOG_FILE}.%i</fileNamePattern>
        </rollingPolicy>
        <triggeringPolicy
                class="com.cloudera.director.aws.shaded.ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>

    <!-- Avoid "x-amzn-RequestId: not available" spamming log (1.9.31+) -->
    <logger name="com.cloudera.director.aws.shaded.com.amazonaws.http.AmazonHttpClient" level="WARN"/>

</configuration>
